       
        .thumbnail{
            width: 100%;
        }
        .video-title{
            margin-top: 0px;
            font-size: 14px;
            font-weight: 500;
            line-height: 20px;
            margin-bottom: 10px;
        }
        .video-info-grid {
            display: grid;
            grid-template-columns: 50px 1fr;
        }
        .profile-picture{
            width: 36px;
            border-radius: 50px;
        }
        .thumbnail-container{
            margin-bottom: 8px;
            position: relative;
        }
        .video-auther , .video-stats {
            font-size: 15px;
            color: rgb(96, 96, 96);
        }
        .video-auther {
            margin-bottom: 4px;
        }
        .video-grid {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            column-gap: 16px;
            row-gap: 40px;
        }
        @media (max-width: 750px) {
            .video-grid {
                grid-template-columns: 1fr 1fr;
            }
        }
        @media(max-width;750px) and (min-width:999px){
            .video-grid {
                grid-template-columns: 1fr 1fr 1fr;
            }
        }
        @media(min-width:1000px){
            .video-grid {
                grid-template-columns: 1fr 1fr 1fr 1fr;
            }
        }
        .video-time {
            background-color: black;
            color: white;
            font-family: roboto,arial;
            font-size: 12px;
            font-weight: 500;
            padding-left: 4px;
            padding-right: 4px;
            padding-top: 4px;
            padding-bottom: 4px;
            border-radius: 2px;
            position: absolute;
            bottom: 8px;
            right: 5px;

        }